@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: unset;
  color: unset;
}

body::-webkit-scrollbar, .main-engineering__tabs::-webkit-scrollbar {
  width: 4px; /* Ширина всего элемента навигации */
  height: 4px;
}

body::-webkit-scrollbar-track, .main-engineering__tabs::-webkit-scrollbar-track {
  background: #fff; /* Цвет дорожки */
}

body::-webkit-scrollbar-thumb, .main-engineering__tabs::-webkit-scrollbar-thumb {
  background-color: #2B364C; /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 3px solid #2B364C; /* Оформление границ бегунка */
}

.none {
  display: none !important;
}

@-webkit-keyframes fadeOutFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOutFromNoneGallery {
  -webkit-animation: fadeOutFromNone 0.5s ease-in-out;
          animation: fadeOutFromNone 0.5s ease-in-out;
}

.fadeOutFromNone {
  -webkit-animation: fadeOutFromNone 1s ease-in-out;
          animation: fadeOutFromNone 1s ease-in-out;
}

.modal-gallery {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.modal-gallery__wrapper {
  overflow: hidden;
  border-radius: 3px;
  height: 90%;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-gallery__img {
  border-radius: 3px;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  height: inherit;
}

.title-h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 122%;
  text-align: center;
  color: #2B364C;
}
.title-h2_gray {
  color: #AAACB1;
}

.header {
  padding-top: 10px;
  margin-bottom: 20px;
}
.header__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  margin-bottom: 14px;
}
.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__logo {
  width: 223px;
}
.header__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #2B364C;
  max-width: 262px;
}
.header__phone-icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.header__phone {
  font-weight: 400;
  font-size: 15px;
  color: #2B364C;
}
.header__devider {
  width: 100%;
  height: 1px;
  background: #cfcfcf;
  margin-bottom: 20px;
}
.header__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.header__menu-item {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  color: #2B364C;
  padding: 7px 15px;
  border-radius: 100px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.header__menu-item:hover {
  background: #f0f0f0;
  color: #2B364C;
}
.header__menu-item_active {
  background-color: #2B364C !important;
  color: #fff !important;
}
.header__menu-item-all {
  min-width: 137px;
}
.header__menu-item-all-arrow {
  margin-left: 8px;
}
.header__menu-item-all-arrow path {
  stroke: #2B364C;
}
.header__menu-item_active .header__menu-item-all-arrow path {
  stroke: #FFF;
}
.header__submenu-wrapper {
  padding-top: 10px;
  position: relative;
}
.header__submenu {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 15px;
  background: #2B364C;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 100;
}
.header__menu-item-all-wrapper:hover .header__submenu {
  visibility: visible;
  opacity: 1;
}
.header__submenu-item-wrapper {
  display: block;
  padding: 7px 20px 7px 15px;
  border-bottom: 1px solid #404f6c;
}
.header__submenu-item-wrapper:hover {
  background-color: #404F6C;
}
.header__submenu-item-wrapper:first-child {
  padding-top: 15px;
  border-radius: 15px 15px 0 0;
}
.header__submenu-item-wrapper:last-child {
  border-bottom: unset;
  padding-bottom: 20px;
  border-radius: 0 0 15px 15px;
}
.header__submenu-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #fff;
}

.mobile-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  min-height: 100vh;
  background-color: #2B364C;
  -webkit-transition: width 0.7s ease;
  transition: width 0.7s ease;
  z-index: 110;
}
.mobile-header__wrapper {
  padding: 20px 20px;
}
.mobile-header_show {
  width: 320px;
  height: unset;
  visibility: visible;
}
.mobile-header__burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.mobile-header__burger-icon {
  width: 22px;
  height: 22px;
}
.mobile-header__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  gap: 30px;
}
.mobile-header__phone {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.mobile-header__phone-icon {
  width: 16px;
  height: 16px;
}
.mobile-header__burger-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #fff;
}
.mobile-header__burger-close-icon {
  width: 16px;
  height: 16px;
}
.mobile-header__devider {
  height: 1px;
  width: 100%;
  background: #3f4e6c;
  margin-bottom: 30px;
}
.mobile-header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-header__menu-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 18px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.main-first-slide-2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(43, 54, 76)), color-stop(30%, rgb(43, 54, 76)), to(rgba(43, 54, 76, 0.4))), url(../img/main-first-slide-2.jpg) !important;
  background-image: linear-gradient(-270deg, rgb(43, 54, 76) 0%, rgb(43, 54, 76) 30%, rgba(43, 54, 76, 0.4) 100%), url(../img/main-first-slide-2.jpg) !important;
}

.main-first__background {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(43, 54, 76)), color-stop(30%, rgb(43, 54, 76)), to(rgba(43, 54, 76, 0.4))), url(../img/main-first-bg.jpg);
  background-image: linear-gradient(-270deg, rgb(43, 54, 76) 0%, rgb(43, 54, 76) 30%, rgba(43, 54, 76, 0.4) 100%), url(../img/main-first-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
}
.main-first__content {
  padding: 170px 0 170px 100px;
}
.main-first__title {
  font-weight: 700;
  font-size: 52px;
  color: #fff;
  max-width: 655px;
  margin-bottom: 40px;
}
.main-first__title_gray {
  color: #C0C2C9;
}
.main-first__button {
  padding: 15px 30px;
  border-radius: 100px;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.main-first__button:hover {
  background-color: #dcdcdc;
}
.main-first__bullets {
  bottom: 70px;
  gap: 10px;
}
.main-first__bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #FFF;
  background: unset;
  opacity: 1;
}
.main-first__bullet.active {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #FFF;
  opacity: 1;
}
.main-first__arrow-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 11;
}
.main-first__arrows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-first__arrow {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  width: 60px;
  height: 60px;
}
.main-first__arrow_prev {
  left: 0;
}
.main-first__arrow_next {
  right: 0;
}
.main-first__arrow:hover {
  background-color: #404A5E;
}

.main-engineering {
  position: relative;
  overflow-y: visible;
}
.main-engineering__wrapper {
  padding-top: 70px;
}
.main-engineering__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0.4))), url(../img/main-tab-engineering.jpg);
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.4) 100%), url(../img/main-tab-engineering.jpg);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
}
.main-engineering__title {
  margin-bottom: 50px;
}
.main-engineering__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  margin-bottom: 70px;
}
.main-engineering__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  min-width: 282px;
  min-height: 83px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-left: 5px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #2B364C;
  text-align: left;
}
.main-engineering__tab:hover {
  background-color: #f0f0f0;
}
.main-engineering__tab_active {
  color: #fff !important;
  background-color: #2B364C !important;
}
.main-engineering__tab-icon {
  width: 81px;
  height: 81px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.main-engineering__tab_active .main-engineering__tab-icon path {
  stroke: #fff;
}
.main-engineering__tab_active:first-child .main-engineering__tab-icon path {
  stroke: unset;
  fill: #fff;
}
.main-engineering__tab-content-item-img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.main-whome {
  position: relative;
  padding-bottom: 70px;
  overflow-y: visible;
  margin-top: -490px;
  pointer-events: none;
}
.main-whome__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../img/main-whome-bg.png);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), url(../img/main-whome-bg.png);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-whome__title {
  padding-top: 520px;
  margin-bottom: 40px;
  text-align: left;
}
.main-whome__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 140px;
}
.main-whome__video-wrapper {
  border-radius: 10px;
  overflow: hidden;
  pointer-events: initial;
}
.main-whome__video {
  width: 100%;
  height: 100%;
}
.main-whome__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #2B364C;
  margin-bottom: 5px;
}
.main-whome__text_gray {
  color: #AAACB1;
}

.feedback-form {
  pointer-events: initial;
  padding: 30px 30px 35px 30px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.25);
  max-width: 630px;
  min-width: 300px;
  margin: 0 auto;
}
.feedback-form__title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #2B364C;
  margin-bottom: 20px;
}
.feedback-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.feedback-form__input {
  padding: 15px;
  border: 1px solid #ababab;
  border-radius: 5px;
}
.feedback-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #2B364C;
}
.feedback-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #2B364C;
}
.feedback-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #2B364C;
}
.feedback-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #2B364C;
}
.feedback-form__input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #2B364C;
}
.feedback-form__btn {
  background-color: #2B364C;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 15px;
  border-radius: 100px;
  width: 350px;
  margin: 15px auto 0 auto;
}

.whyus {
  position: relative;
}
.whyus__wrapper {
  padding: 70px 0 106px 0;
}
.whyus__bg {
  background-image: url(../img/main-whyus-bg.png);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15%;
}
.whyus__title {
  color: #fff;
  margin-bottom: 45px;
}
.whyus__title_gray {
  color: #C0C2C9;
}
.whyus__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
}
.whyus__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.whyus__card_1 {
  grid-row: 1;
  grid-column: 1;
}
.whyus__card_2 {
  grid-row: 1;
  grid-column: 3;
}
.whyus__card_3 {
  grid-row: 1;
  grid-column: 5;
}
.whyus__card_4 {
  grid-row: 2;
  grid-column: 2;
}
.whyus__card_5 {
  grid-row: 2;
  grid-column: 4;
}

.main-trust {
  padding-top: 60px;
  margin-bottom: 70px;
}
.main-trust__title {
  max-width: 520px;
  text-align: left;
  margin-bottom: 30px;
}
.main-trust__track {
  margin-bottom: 30px;
}
.main-trust__cards {
  cursor: -webkit-grab;
  cursor: grab;
}
.main-trust__card-wrapper {
  padding: 27px 38px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fcfcfc;
}
.main-trust__card {
  padding: 0 5px;
}

.slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__arrow {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: relative;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
  width: 70px;
  height: 25px;
  border-radius: 100px;
  background-color: #fbfbfb;
  border: 1px solid #C0C2C9;
  opacity: 1;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.slider__arrow:hover {
  background-color: #2B364C;
}
.slider__arrow-icon path {
  -webkit-transition: stroke 0.3s ease;
  transition: stroke 0.3s ease;
}
.slider__arrow:hover .slider__arrow-icon path {
  stroke: #FFF;
}

.main-reviews__title {
  margin-bottom: 30px;
}
.main-reviews__track {
  margin-bottom: 30px;
}
.main-reviews__cards {
  cursor: -webkit-grab;
  cursor: grab;
}
.main-reviews__card {
  padding: 0 10px;
}
.main-reviews__card-wrapper {
  padding: 20px 20px 45px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fcfcfc;
  position: relative;
  height: 100%;
}
.main-reviews__card-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  margin-bottom: 15px;
}
.main-reviews__card-title {
  font-weight: 400;
  font-size: 24px;
  color: #2B364C;
}
.main-reviews__quotes-icon {
  position: absolute;
  width: 41px;
  height: 32px;
  bottom: 17px;
  right: 17px;
}

.main-total-bg {
  background-image: url(../img/main-total-bg.png);
  width: 100%;
  height: 100%;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
}

.main-trust-camera {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.main-trust-camera__wrapper {
  position: relative;
}

.footer {
  background-color: #2B364C;
  padding: 20px 0 30px 0;
  color: #fff;
}
.footer__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.footer__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.footer__logo-descr {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  max-width: 262px;
}
.footer__phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.footer__phone {
  font-weight: 400;
  font-size: 14px;
}
.footer__devider {
  background: #8d8d8d;
  width: 100%;
  height: 1px;
  margin-bottom: 30px;
}
.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__nav-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
}
.footer__nav-item_active {
  color: #bcbcbc;
}
.footer__copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

/* Страница СКУД */
.total-fp {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(43, 54, 76)), color-stop(30%, rgb(43, 54, 76)), to(rgba(43, 54, 76, 0.4))), url(../img/skud-first-bg.jpg);
  background-image: linear-gradient(-270deg, rgb(43, 54, 76) 0%, rgb(43, 54, 76) 30%, rgba(43, 54, 76, 0.4) 100%), url(../img/skud-first-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%;
  margin-bottom: 70px;
}
.total-fp__wrapper {
  padding: 83px 0;
}
.total-fp__title {
  font-weight: 700;
  font-size: 44px;
  color: #fff;
  margin-bottom: 10px;
}
.total-fp__title_gray {
  color: #C0C2C9;
}
.total-fp__subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
}
.total-fp__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.total-fp__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.total-fp__list-item-icon-wrapper {
  border-radius: 2px;
  width: 30px;
  height: 30px;
  background: radial-gradient(76.67% 76.67% at 44.63% 50%, rgb(255, 255, 255) 0%, rgb(216, 216, 216) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.total-fp__list-item-text {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.total-fp__btn {
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 100px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.total-fp__btn:hover {
  background-color: #dcdcdc;
}
.total-fp__btn-icon {
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.total-objects {
  background-image: url(../img/skud-total-objects-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.total-objects__wrapper {
  padding: 70px 0;
}
.total-objects__title {
  margin-bottom: 50px;
  text-align: left;
}
.total-objects__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
}
.total-objects__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.total-objects__card-img {
  border-radius: 10px;
}
.total-objects__card-name {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #2B364C;
}

.skud-why-implement {
  padding: 70px 0;
  background: -webkit-gradient(linear, left top, right top, from(#2b364c), to(#242424));
  background: linear-gradient(90deg, #2b364c 0%, #242424 100%);
}
.skud-why-implement__title {
  color: #fff;
  margin-bottom: 70px;
}
.skud-why-implement__title_gray {
  color: #C0C2C9;
}
.skud-why-implement__cards-wrapper {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 13px;
  margin-bottom: 50px;
}
.skud-why-implement__card-title {
  padding: 15px 35px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #292f3c;
  border-radius: 5px;
  border: 1px solid #fff;
  -o-border-image: linear-gradient(90deg, #fff 0%, #5F6063 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#5F6063));
     border-image: linear-gradient(90deg, #fff 0%, #5F6063 100%);
  border-image-slice: 1;
  width: 100%;
  text-align: left;
}
.skud-why-implement__card-title-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #fff;
}
.skud-why-implement__card-btn {
  background-image: url("../img/skud-cards-plus.svg");
  width: 28px;
  height: 28px;
  -webkit-transition: background-image 0.4s ease;
  transition: background-image 0.4s ease;
}
.skud-why-implement__card-title_active .skud-why-implement__card-btn {
  background-image: url("../img/skud-cards-minus.svg");
}
.skud-why-implement__card-content {
  border: 1px solid #fff;
  -o-border-image: linear-gradient(90deg, #fff 0%, #5F6063 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#5F6063));
     border-image: linear-gradient(90deg, #fff 0%, #5F6063 100%);
  padding: 15px 20px;
  border-image-slice: 1;
  min-height: 408px;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}
.skud-why-implement__mob-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  display: none;
}
.skud-why-implement__mob-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.skud-why-implement__mob-card-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  padding: 10px 13px 10px 10px;
  width: 100%;
  background-color: #292f3c;
  border-radius: 5px;
  border: 1px solid #fff;
  -o-border-image: linear-gradient(90deg, #fff 0%, #5F6063 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#5F6063));
     border-image: linear-gradient(90deg, #fff 0%, #5F6063 100%);
  border-image-slice: 1;
}
.skud-why-implement__mob-card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #fff;
  text-align: left;
}
.skud-why-implement__mob-card-icon {
  background-image: url("../img/skud-cards-plus.svg");
  width: 28px;
  height: 28px;
  -webkit-transition: background-image 0.4s ease;
  transition: background-image 0.4s ease;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.skud-why-implement__mob-card-title-wrapper_active .skud-why-implement__mob-card-icon {
  background-image: url("../img/skud-cards-minus.svg");
}
.skud-why-implement__mob-card-content {
  background-color: #292f3c;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.skud-why-implement__mob-card-title-wrapper_active + .skud-why-implement__mob-card-content {
  height: 100%;
  padding: 10px;
  border: 1px solid #fff;
  -o-border-image: linear-gradient(90deg, #fff 0%, #5F6063 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#5F6063));
     border-image: linear-gradient(90deg, #fff 0%, #5F6063 100%);
  border-image-slice: 1;
  opacity: 1;
}

.skud-whyus .whyus__bg {
  background-image: url("../img/skud-whyus-bg.jpg");
}
.skud-whyus .whyus__title {
  color: #2B364C;
}
.skud-whyus .whyus__title_gray {
  color: #AAACB1;
}
.skud-whyus .whyus__card {
  color: #2B364C;
}
.skud-whyus .whyus__card-icon path {
  stroke: #2B364C;
}
.skud-whyus .whyus__card-icon circle {
  stroke: #2B364C;
}

.works__bg {
  background-image: url(../img/works__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%;
  padding: 70px 0;
}
.works__title {
  color: #fff;
  margin-bottom: 40px;
}
.works__title_gray {
  color: #C0C2C9;
}
.works__slide {
  padding: 0 10px;
}
.works__slide-img {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
.works__slide-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}

.works .slider__arrows {
  padding-top: 40px;
}
.works .slider__arrow {
  background-color: unset;
}
.works .slider__arrow-icon path {
  stroke: #FFF;
}
.works .slider__arrow:hover {
  background-color: #495266;
}

.videonabludenie .total-fp {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(43, 54, 76)), color-stop(70%, rgba(43, 54, 76, 0)), to(rgba(43, 54, 76, 0))), url(../img/videonabludenie-bg.jpg);
  background-image: linear-gradient(-270deg, rgb(43, 54, 76) 0%, rgba(43, 54, 76, 0) 70%, rgba(43, 54, 76, 0) 100%), url(../img/videonabludenie-bg.jpg);
  position: relative;
  margin-bottom: 0;
}
.videonabludenie .total-fp__wrapper {
  padding: 100px 0;
  z-index: 1;
  position: relative;
}
.videonabludenie .total-fp__camera {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 600px;
  z-index: 0;
}
.videonabludenie .total-fp__title {
  margin-bottom: 30px;
  max-width: 815px;
}

.video-system {
  background-image: url(../img/videonabludenie-system-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%;
}
.video-system__wrapper {
  padding: 80px 0;
}
.video-system__title {
  max-width: 476px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 73px;
}
.video-system__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video-system__card {
  max-width: 30%;
  position: relative;
}
.video-system__card-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 48%;
  text-align: center;
  color: #ededed;
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.video-system__card-img {
  position: relative;
  z-index: 2;
  margin-bottom: 25px;
  border-radius: 10px;
  overflow: hidden;
}
.video-system__card-text {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #2B364C;
}

.videonabludenie .whyus__bg {
  background-image: url(../img/videonabludenie-whyus-bg.png);
}

.online-view {
  background-image: url(../img/videonabludenie-online-view__bg.jpg);
}
.online-view__wrapper {
  padding: 90px 0 70px 0;
}
.online-view__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 54px;
  margin-bottom: 50px;
}
.online-view__marker {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #616161;
  background: #f0f0f0;
  border-radius: 100px;
  display: inline-block;
  padding: 7px 15px;
  margin-bottom: 20px;
}
.online-view__title {
  text-align: left;
}
.online-view__img {
  border-radius: 10px;
}

.ohr-signal .total-fp {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(43, 54, 76)), color-stop(30%, rgb(43, 54, 76)), to(rgba(43, 54, 76, 0.4))), url(../img/ohr-signal-bg.jpg);
  background-image: linear-gradient(-270deg, rgb(43, 54, 76) 0%, rgb(43, 54, 76) 30%, rgba(43, 54, 76, 0.4) 100%), url(../img/ohr-signal-bg.jpg);
  margin-bottom: 0;
}
.ohr-signal .total-fp__title {
  margin-bottom: 30px;
  max-width: 620px;
}

.ohr-signal .total-objects {
  background-image: url(../img/ohr-signal-objects-bg.jpg);
}
.ohr-signal .total-objects__title {
  text-align: center;
}

.type-signal {
  padding: 80px 0 70px 0;
  background: -webkit-gradient(linear, left top, right top, from(#2b364c), to(#242424));
  background: linear-gradient(90deg, #2b364c 0%, #242424 100%);
}
.type-signal__title {
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
}
.type-signal__title_gray {
  color: #C0C2C9;
}
.type-signal__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  color: #fff;
  margin-bottom: 58px;
}
.type-signal__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}
.type-signal__card {
  padding: 18px 25px 25px 25px;
  background-color: #292F3C;
  text-align: left;
  border: 1px solid #fff;
  -o-border-image: linear-gradient(90deg, #fff 0%, #5F6063 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#5F6063));
     border-image: linear-gradient(90deg, #fff 0%, #5F6063 100%);
  border-image-slice: 1;
  max-height: 70px;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
}
.type-signal__card_active {
  max-height: 300px;
}
.type-signal__card-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  gap: 12px;
}
.type-signal__card-title {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.type-signal__card-arrow {
  background-image: url("../img/ohr-signal-cards-arrow-up.svg");
  min-width: 28px;
  min-height: 28px;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.type-signal__card_active .type-signal__card-arrow {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.type-signal__card-content {
  font-weight: 400;
  font-size: 15px;
  line-height: 187%;
  color: #fff;
  max-width: 820px;
}

.ohr-signal-protection {
  background-image: url("../img/ohr-signal-protection-bg.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
}
.ohr-signal-protection__wrapper {
  padding: 70px 0;
}
.ohr-signal-protection__title {
  margin-bottom: 50px;
}
.ohr-signal-protection__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
}
.ohr-signal-protection__card-img {
  margin-bottom: 15px;
}
.ohr-signal-protection__card-title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #2B364C;
  margin-bottom: 5px;
}
.ohr-signal-protection__card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  color: #2B364C;
}

.ohr-signal .whyus__bg {
  background-image: url("../img/ohr-signal-whyus-bg.jpg");
}

.works_white .works__bg {
  background-image: url("../img/ohr-signal-works-bg.jpg");
  background-position: top;
}
.works_white .works__title {
  color: #2B364C;
}
.works_white .works__title_gray {
  color: #AAACB1;
}
.works_white .works__slide-text {
  color: #2B364C;
}

.works_white .slider__arrow {
  opacity: 1;
}
.works_white .slider__arrow:hover {
  background-color: #2B364C;
}

.works_white .slider__arrow path {
  stroke: #2B364C;
}

.pozhar-signal .total-fp {
  background-image: url(../img/pozhar-fp-bg.jpg);
  background-position: 70%;
  margin-bottom: 0;
}
.pozhar-signal .total-fp__title {
  max-width: 629px;
  margin-bottom: 15px;
}

.pozhar-signal .total-objects__title {
  text-align: center;
}
.pozhar-signal .total-objects__card_7 {
  grid-column: 2;
}

.pozhar-signal .whyus__bg {
  background-image: url("../img/pozhar-signal-whyus-bg.jpg");
}

.why-fire-alarm {
  background-image: url("../img/why-fire-alarm-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.why-fire-alarm__wrapper {
  padding: 70px 0;
}
.why-fire-alarm__title {
  margin-bottom: 50px;
  text-align: left;
}
.why-fire-alarm__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
.why-fire-alarm__top-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 158%;
  color: #2B364C;
}
.why-fire-alarm__title-h3 {
  font-weight: 700;
  font-size: 32px;
  color: #2B364C;
  margin-bottom: 10px;
}
.why-fire-alarm__title-h3_gray {
  color: #AAACB1;
}
.why-fire-alarm__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 158%;
  color: #2B364C;
  margin-bottom: 20px;
  max-width: 996px;
}
.why-fire-alarm__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.why-fire-alarm__content-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.why-fire-alarm__content-list-item-circle {
  min-width: 20px;
  min-height: 20px;
  background-color: #2B364C;
  border-radius: 100%;
}
.why-fire-alarm__content-list-item-text {
  max-width: 669px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #000;
}
.why-fire-alarm__content-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 158%;
  color: #2B364C;
}

.consultation {
  background: -webkit-gradient(linear, left top, right top, from(#2b364c), to(#242424));
  background: linear-gradient(90deg, #2b364c 0%, #242424 100%);
  padding: 50px 0 0 0;
}
.consultation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 360px;
}
.consultation__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.consultation__content {
  width: 780px;
  padding-bottom: 50px;
  position: relative;
  z-index: 2;
}
.consultation__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 131%;
  color: #fff;
  min-width: 780px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 11px;
}
.consultation__title_gray {
  color: #C0C2C9;
}
.consultation__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #fff;
  margin-bottom: 40px;
}
.consultation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 12px;
}
.consultation__form-input {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #fff;
  padding: 15px;
  border: 1px solid #ababab;
  border-radius: 5px;
  background-color: transparent;
  width: 310px;
}
.consultation__form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #fff;
}
.consultation__form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #fff;
}
.consultation__form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #fff;
}
.consultation__form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #fff;
}
.consultation__form-input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 213%;
  color: #fff;
}
.consultation__form-btn {
  border-radius: 100px;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2B364C;
  padding: 18px 36px;
  width: 310px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.consultation__form-btn:hover {
  background-color: #DCDCDC;
}
.consultation__form-text {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}
.consultation__form-text-link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #718dc7;
}

@media (max-width: 1300px) {
  .videonabludenie .total-fp__camera {
    width: 400px;
  }
}
@media (max-width: 1170px) {
  .container {
    padding: 0 50px;
  }
  .header__phone {
    display: none;
  }
  .header__devider {
    display: none;
  }
  .header__menu-wrapper {
    display: none;
  }
  .header__logo {
    min-width: 101px;
  }
  .mobile-header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #404040;
  }
  .main-engineering__tabs {
    overflow-x: scroll;
  }
  .main-whome__wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
  .main-whome__text {
    margin-bottom: 15px;
  }
  .main-whome__text-img {
    display: block;
    margin: 0 auto;
  }
  .main-whome__bg {
    background-image: unset;
  }
  .main-trust-camera {
    width: 250px;
  }
  .footer__top-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer__logo-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .footer__logo-descr {
    text-align: center;
  }
  .footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
  }
  .footer__copy {
    text-align: center;
  }
  .skud-why-implement__cards-wrapper {
    display: none;
  }
  .skud-why-implement__mob-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video-system__card-text {
    font-size: 18px;
  }
  .why-fire-alarm__top-text {
    font-size: 20px;
  }
  .why-fire-alarm__description {
    font-size: 20px;
  }
  .why-fire-alarm__content-list-item-text {
    font-size: 16px;
  }
  .why-fire-alarm__content-text {
    font-size: 20px;
  }
  .consultation__content {
    width: 500px;
  }
  .consultation__title {
    min-width: unset;
  }
}
@media (max-width: 960px) {
  .title-h2 {
    font-size: 32px;
  }
  .header__logo {
    width: 150px;
    min-width: 150px;
  }
  .header__description {
    font-size: 13px;
  }
  .header__logo-wrapper {
    gap: 13px;
  }
  .main-first__title {
    font-size: 42px;
  }
  .main-first__arrow-container {
    padding: 0 10px;
  }
  .main-whome__text {
    font-size: 20px;
  }
  .feedback-form__title {
    font-size: 26px;
  }
  .whyus__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .whyus__card {
    width: 300px;
  }
  .total-fp__title {
    font-size: 40px;
  }
  .total-fp__subtitle {
    font-size: 22px;
  }
  .total-objects__cards {
    row-gap: 30px;
  }
  .skud-why-implement__cards-wrapper {
    display: none;
  }
  .videonabludenie .total-fp__camera {
    width: 250px;
  }
  .type-signal__description {
    font-size: 18px;
  }
  .ohr-signal-protection__cards {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }
  .ohr-signal-protection__card-description {
    font-size: 16px;
  }
  .why-fire-alarm__top-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why-fire-alarm__title {
    text-align: center;
    margin-bottom: 20px;
  }
  .why-fire-alarm__top-img {
    max-width: 250px;
  }
  .why-fire-alarm__title-h3 {
    font-size: 28px;
  }
  .consultation__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    display: block;
  }
  .consultation__img {
    width: 300px;
    right: -50px;
  }
  .consultation__title {
    font-size: 30px;
  }
}
@media (max-width: 790px) {
  .total-objects__cards {
    grid-template-columns: 1fr 1fr;
  }
  .video-system__card {
    width: 40%;
    max-width: unset;
  }
  .video-system__card-text {
    font-size: 16px;
  }
  .video-system__card-img {
    margin-bottom: 15px;
  }
  .whyus__card {
    font-size: 16px;
    gap: 12px;
  }
  .pozhar-signal .total-objects__card_7 {
    grid-column: 1;
  }
}
@media (max-width: 640px) {
  .title-h2 {
    font-size: 26px;
  }
  .header__description {
    font-size: 11px;
    width: 185px;
  }
  .header__top-wrapper {
    gap: 10px;
  }
  .header__logo {
    width: 120px;
    min-width: 120px;
  }
  .main-first__title {
    font-size: 36px;
  }
  .main-first__content {
    padding-left: 30px;
  }
  .main-first__arrow-container {
    padding: 0;
  }
  .main-first__arrow {
    width: 40px;
    height: 40px;
  }
  .main-engineering__tab {
    min-height: 65px;
  }
  .main-engineering__tab-icon {
    height: 65px;
    width: 65px;
  }
  .main-whome__text {
    font-size: 18px;
  }
  .main-whome__text-img {
    margin: unset;
  }
  .main-whome__title {
    margin-bottom: 22px;
  }
  .feedback-form__btn {
    width: 100%;
  }
  .main-trust__card-wrapper {
    padding: 15px;
  }
  .main-reviews__card-title {
    font-size: 20px;
    text-align: center;
  }
  .main-reviews__card-name-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-trust-camera {
    width: 150px;
  }
  .footer__logo-img {
    width: 160px;
  }
  .total-fp__title {
    font-size: 32px;
  }
  .total-fp__subtitle {
    font-size: 18px;
  }
  .total-objects__card-name {
    font-size: 16px;
  }
  .total-objects__cards {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 20px;
  }
  .online-view__content {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .online-view__img {
    max-width: 240px;
    margin: 0 auto;
  }
  .online-view__title {
    text-align: center;
  }
  .online-view__marker {
    margin: 0 auto 20px auto;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 12px;
  }
  .type-signal__card-title {
    font-size: 16px;
  }
  .type-signal__description {
    margin-bottom: 30px;
  }
  .ohr-signal-protection__cards {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .ohr-signal-protection__card {
    max-width: 300px;
    margin: 0 auto;
  }
  .pozhar-signal .total-objects__title {
    margin-bottom: 30px;
  }
  .why-fire-alarm__top-text {
    font-size: 18px;
  }
  .why-fire-alarm__title-h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .why-fire-alarm__description {
    font-size: 18px;
  }
  .why-fire-alarm__content-text {
    font-size: 18px;
  }
  .consultation__content {
    width: unset;
  }
  .consultation__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .consultation__title {
    font-size: 24px;
  }
  .consultation__description {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .consultation__img {
    right: -10px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
  .header__description {
    font-size: 8px;
    width: 145px;
  }
  .header__logo {
    min-width: 101px;
    width: 101px;
  }
  .header__top-wrapper {
    gap: 0;
  }
  .header__logo-wrapper {
    gap: 10px;
  }
  .mobile-header_show {
    width: 100vw;
  }
  .mobile-header__burger {
    font-size: 10px;
  }
  .mobile-header__burger-icon {
    width: 16px;
    height: 16px;
  }
  .main-first__arrow-container {
    padding: 0;
  }
  .main-first__button {
    font-size: 14px;
  }
  .main-first__content {
    padding-left: 20px;
  }
  .main-first__arrow {
    display: none;
  }
  .feedback-form__title {
    font-size: 24px;
  }
  .total-fp__list-item-text {
    font-size: 16px;
  }
  .total-fp__subtitle {
    margin-bottom: 20px;
  }
  .skud-why-implement__mob-card-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #fff;
  }
  .skud-why-implement__mob-card-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #fff;
  }
  .skud-why-implement__mob-cards {
    gap: 7px;
  }
  .videonabludenie .total-fp__title {
    margin-bottom: 30px;
    max-width: 815px;
    font-size: 28px;
  }
  .video-system__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 70px;
  }
  .video-system__card {
    width: unset;
    text-align: center;
  }
  .video-system__title {
    margin-bottom: 50px;
  }
  .type-signal__card {
    padding: 18px 10px 25px 15px;
  }
  .consultation__img {
    display: none;
  }
}
@media (max-width: 400px) {
  .ohr-signal .total-objects__card-name {
    font-size: 14px;
  }
  .pozhar-signal .total-objects__card-name {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */